<a href="https://colab.research.google.com/github/yjwsb233/Global-Health-Hack/blob/main/alcohol_popdensity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [5]:
den = pd.read_csv('density.csv')

In [6]:
den.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,310.061111,314.900000,319.305556,323.211111,326.566667,...,575.522222,579.205556,582.633333,585.772222,588.677778,591.344444,592.138889,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,9.207577,9.459187,9.719622,9.992443,10.276307,...,39.316097,40.417819,41.520460,42.623142,43.768966,44.946811,46.150692,NaN,NaN,NaN
2,Afghanistan,AFG,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,13.477056,13.751356,14.040239,14.343888,14.665298,...,50.160542,51.750915,53.104284,54.648541,56.248231,57.908252,59.752281,NaN,NaN,NaN
3,Africa Western and Central,AFW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,10.978074,11.213633,11.459305,11.712711,11.975377,...,43.982443,45.180225,46.405991,47.661860,48.934069,50.222984,51.536679,NaN,NaN,NaN
4,Angola,AGO,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,4.364589,4.428812,4.491720,4.550573,4.601413,...,21.760116,22.561740,23.385535,24.230872,25.085051,25.951382,26.813577,NaN,NaN,NaN

In [11]:
den.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       'Unnamed: 67'],
      dtype='object')

In [17]:
cols = ['Country Code','Indicator Name','Indicator Code','Unnamed: 67']
den = den.drop(columns=cols)
den.head()

KeyError: ignored

In [21]:
df = den.melt(id_vars=['Country Name'], var_name='Year', value_name='Population Density')
df.head()

                  Country Name  Year  Population Density
0                        Aruba  1960                 NaN
1  Africa Eastern and Southern  1960                 NaN
2                  Afghanistan  1960                 NaN
3   Africa Western and Central  1960                 NaN
4                       Angola  1960                 NaN

In [27]:
df['Year'] = df['Year'].astype(int)
df = df.drop(df[(df['Year'] > 2019) | (df['Year'] < 2015)].index)
df.head()

                      Country Name  Year  Population Density
14630                        Aruba  2015          579.205556
14631  Africa Eastern and Southern  2015           40.417819
14632                  Afghanistan  2015           51.750915
14633   Africa Western and Central  2015           45.180225
14634                       Angola  2015           22.561740

In [67]:
df = df.rename(columns={'Country Name':'Country'})

                Country  Year  Population Density  Net migration rate
0                 Aruba  2015          579.205556               2.433
1           Afghanistan  2015           51.750915               3.282
2                Angola  2015           22.561740               1.298
3               Albania  2015          105.135146              -9.358
4  United Arab Emirates  2015          125.554759               6.063

In [68]:
alcohol = pd.read_csv('alcohol.csv')
alcohol.head()

,Entity,Code,Year,Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,0.44
1,Afghanistan,AFG,1991,0.44
2,Afghanistan,AFG,1992,0.45
3,Afghanistan,AFG,1993,0.45
4,Afghanistan,AFG,1994,0.45

In [69]:
alcohol.shape

(6840, 4)

In [70]:
alcohol.columns

Index(['Entity', 'Code', 'Year',
       'Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)'],
      dtype='object')

In [71]:
alcohol = alcohol.rename(columns = {'Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)':'Alcohol Use Disorders Prevalence'})

In [72]:
alcohol = alcohol.rename(columns = {'Entity':'Country'})

In [73]:
alcohol = alcohol.drop('Code',axis=1)

In [91]:
merged = pd.merge(df, alcohol, on=['Country', 'Year'])
merged.head()

,Country,Year,Population Density,Alcohol Use Disorders Prevalence
0,Afghanistan,2015,51.750915,0.43
1,Angola,2015,22.561740,1.09
2,Albania,2015,105.135146,1.71
3,Andorra,2015,152.651064,2.29
4,United Arab Emirates,2015,125.554759,0.57